build/
*.o
*.so
*.ll
*_bin
*.bin
*.i64
*.yaml
.DS_Store
.vscode/

# Internal docs (not for public repo)
CLAUDE.md
DEV_GUIDE.md

# AmaZe testing temp folders
test/bin/
real_world_tests/tiny-AES-c/
real_world_tests/bin_aes_temp/
real_world_tests/sqlite-amalgamation/
real_world_tests/bin_sqlite_temp/
